@page "/"
@using SkoorCard.Services
@using System.Linq
@using static SkoorCard.Services.Tee

@inject ICourseDataService courseDataService
@inject ICardService cardService
@inject IPlayerService playerService
@inject NavigationManager navigationManager

@if (card != null) {
	<div class="scorecard-container">
		<div class="grid-container grid-container-course" style="float:left;" >
			<div class="item course-name">@card.CourseData.Name</div>
			<div class="item">Hål</div>
			<div class="item">Par</div>
			<div class="item">Index</div>
			<div class="item">Gul</div>
			<div class="item">Röd</div>

			@foreach(var hole in card.CourseData.Holes) {
				<div class="item">@hole.Number</div>
				<div class="item">@hole.Par</div>
				<div class="item">@hole.Index</div>
				<div class="item">@hole.DistanceY</div>
				<div class="item">@hole.DistanceR</div>
				@if (hole.Number == 9) {
					<div class="item _out">UT</div>
					<div class="item _out">@card.CourseData.ParFirst9</div>
					<div class="item _out">@(card.CourseData.Holes.Where(x => x.Number <= 9).Sum(x => (double)x.Index)/(double)9.0) </div>
					<div class="item _out">@card.CourseData.DistanceYellowFirst9</div>
					<div class="item _out">@card.CourseData.DistanceRedFirst9</div>
				}
			}
			<div class="item _in">IN</div>
			<div class="item _in">@card.CourseData.ParLast9</div>
			<div class="item _in">@(card.CourseData.Holes.Where(x => x.Number > 9).Sum(x => (double)x.Index)/(double)9.0) </div>
			<div class="item _in">@card.CourseData.DistanceYellowLast9</div>
			<div class="item _in">@card.CourseData.DistanceRedLast9</div>
			<div class="item _out">UT</div>
			<div class="item _out">@card.CourseData.ParFirst9</div>
			<div class="item _out">@(card.CourseData.Holes.Where(x => x.Number <= 9).Sum(x => (double)x.Index)/(double)9.0) </div>
			<div class="item _out">@card.CourseData.DistanceYellowFirst9</div>
			<div class="item _out">@card.CourseData.DistanceRedFirst9</div>
			<div class="item total">TOT</div>
			<div class="item total">@card.CourseData.Par</div>
			<div class="item total">@(card.CourseData.Holes.Sum(x => (double)x.Index)/(double)9.0) </div>
			<div class="item total">@card.CourseData.DistanceYellow</div>
			<div class="item total">@card.CourseData.DistanceRed</div>
		</div>
		@if (card.CardPlayers != null) {
			<div class="player-container">
				@foreach(var cardPlayer in card.CardPlayers) {
					<div class="grid-container grid-container-player" @onclick="@(e => registerScore(cardPlayer))" >
						<div class="item-special player-name">
							<div class="bottom-left">@cardPlayer.RoundHandicapAsString</div>
							<div class="item-padding">
								@cardPlayer.Player.Name
							</div>
							
						</div>
						<div class="item">Slag</div>
						<div class="item">Poäng</div>
						@foreach(var h in card.CourseData.Holes) {
							<div class="item-special item-strokes">
								<div class="bottom-left">
									@cardService.CalculateExtraStrokes(cardPlayer.RoundHandicap, h.Index)
								</div>
								<div class="item-padding">
									@(cardPlayer.CardPlayerScores.SingleOrDefault(x => x.HoleNumber == h.Number)?.ScoreAsString)
								</div>
							</div>

							<div class="item item-points">
									@(cardPlayer.CardPlayerScores.SingleOrDefault(x => x.HoleNumber == h.Number)?.PointsAsString)
							</div>
							@if (h.Number == 9) {
								<div class="item _out">@cardPlayer.ScoreOut</div>
								<div class="item _out">@cardPlayer.PointsOut</div>
							}
						}
						<div class="item _in">@cardPlayer.ScoreIn</div>
						<div class="item _in">@cardPlayer.PointsIn</div>
						<div class="item _out">@cardPlayer.ScoreOut</div>
						<div class="item _out">@cardPlayer.PointsOut</div>
						<div class="item total">@cardPlayer.Score</div>
						<div class="item total">@cardPlayer.Points</div>
					</div>
					
				}
			</div>
		}
		<div class="nav-bottom">
			<a href="#" @onclick="(() => { ShowSelectPlayerDlg = true;})">Add player</a>
			<a href="#">Exit</a>
		</div>
	</div>

} else {
	<div>Could not find course data</div>
}

@if (ShowDlg) {
	<DlgRegisterScore OnCancelCallback="OnCancelCallback"
					  OnSaveCallback="OnSaveCallback"
					  CourseData="courseData"
					  CardPlayer="selectedCardPlayer" />
}

@if (ShowSelectPlayerDlg) {
	<DlgSelectPlayer OnCancelCallback="OnCancelSelectPlayer" OnSelectCallback="OnSelectPlayer" />
}

@if (ShowEditCardPlayer) {
	<DlgEditCardPlayer OnCancelCallback="@(() => { ShowEditCardPlayer = false; })" OnSelectCallback="OnEditCardPlayer" Model="selectedCardPlayer" />
}


@code {
	CourseData courseData;
	Card card;

	bool ShowDlg = false;

	bool ShowDlgNewPlayer = false;
	bool ShowSelectPlayerDlg = false;
	bool ShowEditCardPlayer = false;

	private CardPlayerScore selectedScore = null;
	private CardPlayer selectedCardPlayer = null;

    protected override async Task OnInitializedAsync()
    {
        courseData = await courseDataService.GetByCourseIdAsync(null);
		card = await cardService.CreateAsync(courseData);
		var p1 = new Player() {
			Name = "Johan",
			Handicap = 11.7
		};

		var p2 = new Player() {
			Name = "Gustav",
			Handicap = 47.7
		};

		var p3 = new Player() {
			Name = "Johan 2",
			Handicap = 11.7
		};

		var p4 = new Player() {
			Name = "Gustav 2",
			Handicap = 47.7
		};
		

		/*
		cardService.AddPlayer(card, p3, TeeType.Yellow);
		cardService.AddPlayer(card, p4, TeeType.Red);
		*/
    }

	private void AddPlayer(Player player, TeeType teeType) {
		cardService.AddPlayer(card, player, teeType);
	}

	private void registerScore(CardPlayer cardPlayer) {
		selectedCardPlayer = cardPlayer;
		ShowDlg = true;
	}

    private void OnCancelCallback() {
     	ShowDlg = false;
    }

	private void OnSaveCallback(CardPlayerScore score) {
		cardService.AddScore(card, score);
		ShowDlg = false;
		selectedCardPlayer = null;
	}

	private void OnCancelSelectPlayer() {
		ShowSelectPlayerDlg = false;

	}

	private void OnSelectPlayer(Player p) {

		selectedCardPlayer = new CardPlayer(card, p, TeeType.Yellow);
		ShowSelectPlayerDlg = false;

		// show the CardPlayer dialog
		ShowEditCardPlayer = true;
	}

	private void OnEditCardPlayer(CardPlayer cardPlayer) {
		ShowEditCardPlayer = false;
		cardService.AddPlayer(card, cardPlayer);
	}

}